
<html>
    <head>
        <Style>

html, body {
  height: 100%;
  }
  body {
      
    text-align: center;
    background-color: rgb(114, 127, 218);
    }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  color: white;
  font-size: 12em; 
}
        </Style>
    </head>
    <body>
        <h1>Status set!</h1>
    <body/>
<html/>
